BOT_TOKEN=
AUTO_INSTALL_DEPENDENCIES=
SECURITY_SCAN_ENABLED=
ENFORCE_RESOURCE_LIMITS=
ENFORCE_ADDRESS_SPACE_LIMIT=
PROJECT_PROCESS_LIMIT=
PROJECT_OPEN_FILES_LIMIT=
DEFAULT_PROJECT_RAM_MB=
DEPENDENCY_TIMEOUT_SECONDS=
BACKUP_INTERVAL_HOURS=
DOCKER_MODE=
HEALTH_PORT=
KEEPALIVE_URL=
KEEPALIVE_INTERVAL_SECONDS=
GITHUB_POLL_SECONDS=